a:link {
  color: blue;
  text-decoration: none;
}

body {
  background-image: url("PilferedNoise.png");
  color: black;
  font-family: Times New Roman, Georgia, sans-serif;
  margin: 5% 35%;
}

.header-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.35em;
  line-height: 0.1;
}

.contact {
  padding-left: 35px;
  padding-right: 35px;
}

.section-header {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.6px;
  word-spacing: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
  background-color: silver;
  padding-left: 10px;
  line-height: 0.25;
}


.pos-company {
  line-height: 50%;
  font-weight: bold;
  padding-left: 10px;
}


.pos-title {
  line-height: 0.1;
  font-style: italic;
  font-size: 0.95em;
  padding-left: 10px;
  padding-right: 10px;
}


.edu-univ {
  font-weight: bold;
  padding-left: 10px;
}


.edu-degree {
  padding-right: 10px;
  line-height: 0.5;
  font-size: 0.9;
}
